[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name[ar]=لاحقة AppMenu
Name[da]=Programmenu-plugin
Name[es]=Módulo AppMenu
Name[fr]=Extension AppMenu
Name[fr_CA]=Extension AppMenu
Name[hu]=Alkalmazásmenü bővítmény
Name[it]=Plugin AppMenu
Name[ja]=AppMenu プラグイン
Name[pl]=Menu programu
Name[pt]=Plugin AppMenu
Name[ru]=Плагин AppMenu
Name[zh_CN]=全局菜单插件
Name=AppMenu Plugin
Comment[ar]=أظهر AppMenu (القائمة العامة)
Comment[da]=Vis programmenu (global menu)
Comment[es]=Mostrar AppMenu (Menú Global)
Comment[fr]=Afficher AppMenu (menu global)
Comment[fr_CA]=Afficher AppMenu (menu global)
Comment[hu]=Alkalmazásmenü (Kiterjesztett menü)
Comment[it]=Mostra il AppMenu (menù globale)
Comment[ja]=AppMenu (グローバルメニュー) を表示します
Comment[pl]=Pokaż globalne menu
Comment[pt]=Mostrar AppMenu (Menu Global)
Comment[ru]=Показывает меню приложений (Глобальное меню)
Comment[zh_CN]=显示应用程序菜单(全局菜单)
Comment=Display AppMenu (Global Menu)
Icon=applications-system
X-XFCE-Module=appmenu-xfce
X-XFCE-API=2.0
